.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top:0;bottom:0;left: 0;right: 0;
  flex: 1;
}

.sideMenu {
  width:300px;
  padding: 10px;
  background-color: #202123;
}

.chatBox {
  flex:1;
  background-color:#343541;
  position: relative;
}

.side-menu-button {
  padding:12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}
.side-menu-button:hover {
background-color: rgba(255,255, 255, 0.1);
}

.side-menu-button span{
  padding-left: 6px;
  padding-right: 12px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0; left: 0;right: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  width:90%;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 5px;
  border-color: none;
  outline:none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  padding: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-log{
    text-align: left;
}
.chat-message.chatgpt{  
  background-color:#444654;
}
.chat-message-center{
  padding:12px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.avatar{
    background: white;
    border-radius: 50%;
    width: 40px;
    height:40px;
}
.avatar img{
    border-radius: 50%;
    width: 40px;
    height:40px;
}
.message{
  padding-left: 40px;
    padding-right: 40px;
}
.models select{
  padding:12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
  background-color: #444654;
  color: white;
  outline: none;
}
.models span{
  color: lightblue;
  font-weight: bolder;
  position: relative;
}
.copyright{
  position: absolute;
  bottom: 0; left: 0;right: 0; 
  color: lightcoral;
}

@media screen and (max-width:600px) {
  .sideMenu {
    width:110px;
    padding: 5px;
    background-color: #202123;
  }
  .chatBox {
    flex:1;
    background-color:#343541;
    position: relative;
  }
  .side-menu-button {
    padding:3px;
    border: 1px solid white;
    border-radius: 2px;
    text-align: left;
    transition: ease 0.25s all;
    font-size:x-small;
  }
  .side-menu-button span{
    font-size: x-small;
  }
  .models span{
    color: lightblue;
    font-weight: bolder;
    position: relative;
    font-size: x-small;
  }
  .models select{
    padding:3px;
    border: 1px solid white;
    border-radius: 3px;
    text-align: left;
    transition: ease 0.25s all;
    background-color: #444654;
    color: white;
    outline: none;
    font-size: x-small;
    max-width: 100px;
    align-items: center;
    justify-content: center;
  }
  .chat-input-holder {
    padding: 0px;
    position: absolute;
    bottom: 45px; left: 0;right: 0;
  }
  
  .chat-input-textarea {
    background-color: #40414f;
    width:100%;
    color: white;
    font-size: larger;
    border: none;
    border-color: none;
    outline:none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;
  }
  .chat-message-center{
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    
  }
  .avatar{
      background: white;
      border-radius: 50%;
      width: 30px;
      height:30px;
      align-items: center;
      justify-content: center;
      align-self: center;
  }
  .avatar img{
      border-radius: 50%;
      width: 30px;
      height:30px;
      align-items: center;
      justify-content: center;
  }
  .message{
    padding-left: 5px;
      padding-right: 3px;
      align-items: center;
      justify-content: center;
      align-self: center;
      font-size: x-small;
  }
}
